.editor_header {
  text-align: center;
  height: 20px;
}

.editor_header_content {
  font-size: 20px;
}

.editor_footer {
  margin: 0px 30px 0 30px;
  line-height: 3;
  padding: 20px 0 10px 0;
}

.editor_answer_button_content {
  text-align: left;
  float: left;
}

.editor_answer_button {
  padding: 1rem 3rem;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  background-color: rgb(65, 64, 64);
  &:hover {
    opacity: 0.7;
  }
}

.editor_next_button_content {
  text-align: right;
}

.editor_next_button {
  padding: 1rem 3rem;
  cursor: pointer;
  font-size: 17px;
  transition: all 0.3s;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  color: #fff;
  background-image: -webkit-linear-gradient(left, #ff3cac, #562b7c, #2b86c5);
  background-image: linear-gradient(90deg, #ff3cac, #562b7c, #2b86c5);
  &:hover {
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
    color: #fff;
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
  }
}