@import './mixins.scss';

html {
  min-height: 100%;
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  height: auto;
  position: relative;
  @include main-background-color;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#ace-editor {
  &.front_editor {
    @include editor-screen-height;
  }
  &.answer_editor {
    @include answer-editor-screen-height;
  }
}

// AceEditor差分ハイライト
.codeMarker {
  background: rgba(255,112,143,0.12);
  position: absolute;
  z-index: 20;
}

// 差分エディタ
.css-cncyp1-word-diff {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.css-vl0irh-content {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}