body {
  background-color: #f4f4f8;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
// AceEditor差分ハイライト
.codeMarker {
  background: rgba(255,112,143,0.12);
  position: absolute;
  z-index: 20;
}