.playground-render {
  display: inline-flex;
  border: solid #a8a8a8 1px;

  iframe {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }

  a {
    text-decoration: none;
  }
}

.playground-result {
  width: 400px;
}

.playground-edit {
  border-left: solid #a8a8a8 1px;
}

.playground-editor {
  display: block;
  background-color: #e7e7e7;
  width: 400px;
  height: 400px;
}

.playground__content {
  width: 100%;
  height: 100%;
}


.preview-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
}